
	<div class="header">
		<h1> Eat-Da-Burger!</h1>
	</div>

	<div class="container">

	<hr>
	
	<div class="row">
		<div class="col-md-6" id="uneaten">
		<h3>Uneaten Burgers</h3>
				{{#each burgers}}
					{{#unless this.devoured}}
							<p>{{this.id}}. {{this.burger_name}}
								<form action='api/burgers/updateOne/{{this.id}}?_method=PUT' method='POST'>
									<input type='hidden' name='devoured' value='true'>
									<button type='submit' id="button" class="btn btn-default">Get this!</button>
									<br><br>
								</form>
							</p>
					{{/unless}}
				{{/each}}
		</div>

		<div class="col-md-6" id="eaten">
		<h3>Eaten Burgers</h3>
			<ul>
				{{#each burgers}}
					{{#if this.devoured}}
					<p>{{this.id}}. {{this.burger_name}}</p>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-12">
			<form class="create-update-form" action="api/burgers/insertOne" method="POST">
				<div class="form-group" id="addition">
					<h3> Enter the burger you want! </h3>
					<input type="text" name="name">
					<br>
					<button class="btn btn-default" id="submit" type="submit">Add Burger</button>
				</div>
			</form>
		</div>
	</div>
</div>